html, body {
	margin: 0px;
	padding:0px;
	background-image:url(../images/bg.gif);
}

h1, h2, h3, h4, h5, h6, p, form {
	margin: 0px;
	padding:0px;
}

.no-translate {
    white-space: nowrap;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(0, 102, 255);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 102, 255);
    border-right-width-value: 1px;
    border-right-width-value: 1px;
    border-left-width-value: 1px;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    padding-top: 1px;
    padding-bottom: 1px;
    border-right-color-value: rgb(0, 102, 255);
    border-left-color-value: rgb(0, 102, 255);
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    background-color: rgb(232, 244, 255);
}

.comment {
    border-bottom-style: dashed;
    border-bottom-color: rgb(255, 255, 0);
    border-bottom-width: 1px;
    background-color: rgb(255, 255, 150);
}

.term {
    background-color: rgb(100, 255, 100);
}

#wrapper {
	width:800px;
	margin:0px auto;
	background-color:#FFF;
}

#content {
	width:778px;
	margin:0px auto;
	background-image:url(../images/bg_header_top.gif);
	background-repeat:repeat-x;
	background-position:top;
}

#header {
	height:96px;
}

#logo {
	width:258px;
	float:left;
}

#logo h1{
	font-family:"Trebuchet MS";
	font-size:26px;
	color:#F76B0C;
	font-weight:normal;
	text-decoration:none;
	padding-left:40px;
	padding-top:30px;
}

#logo h4 {
	font-family:"Trebuchet MS";
	font-size:11px;
	color:#808080;
	font-weight:normal;
	text-decoration:none;
	padding-left:75px;
}

#links ul {
	margin:0px; 
	padding-top:67px;
}

#links li{
	float:left;
	list-style-type:none;
	width:129px;
	height:25px;
	text-align:center;
	background-color:#F4A80A;
	border-left:1px solid #FFF;
	padding-top:4px;
}

#links a{
	font-family:"Trebuchet MS";
	font-size:11px;
	color:#fff;
	font-weight:normal;
	text-decoration:none;
}

#links a:hover{
	font-family:"Trebuchet MS";
	font-size:11px;
	color:#fff;
	font-weight:normal;
	text-decoration:underline;
}

#mainimg {
	background-image:url(../images/main_img.jpg);
	background-repeat:no-repeat;
	height:132px;
	text-align:right;
}

#mainimg h3 {
	font-family:"Trebuchet MS";
	font-size:48px;
	color:#fff;
	font-weight:normal;
	text-decoration:none;
	padding:30px 20px 0px 0px;
}

#mainimg h4 {
	font-family:"Trebuchet MS";
	font-size:18px;
	color:#fff;
	font-weight:normal;
	text-decoration:none;
	padding:0px 20px 0px 0px;
}

#contentarea {
	clear:both;
	padding:25px 0px;
}

#leftbar {
	float:left;
	width:539px;
	border-right:1px solid #BCBDBC;
}

#leftbar h2{
	font-family:"Trebuchet MS";
	font-size:26px;
	color:#EE8907;
	font-weight:normal;
	text-decoration:none;
	padding-left:40px;
	padding-bottom:5px;
}

#leftbar p{
	font-family:"Trebuchet MS";
	font-size:11px;
	color:#797B7A;
	font-weight:normal;
	text-decoration:none;
	padding:0px 40px;
}

#leftbar a {
	font-family:"Trebuchet MS";
	font-size:11px;
	color:#EE8907;
	font-weight:bold;
	text-decoration:none;
	padding:0px 40px;
}

#leftbar a:hover {
	font-family:"Trebuchet MS";
	font-size:11px;
	color:#000;
	font-weight:bold;
	text-decoration:none;
	padding:0px 40px;
}

#rightbar {
	float:left;
	width:237px;
}

#rightbar h2{
	font-family:"Trebuchet MS";
	font-size:26px;
	color:#797B7A;
	font-weight:normal;
	text-decoration:none;
	padding-left:25px;
	padding-bottom:5px;
}

#rightbar p{
	font-family:"Trebuchet MS";
	font-size:11px;
	color:#797B7A;
	font-weight:normal;
	text-decoration:none;
	padding:0px 25px;
}

.orangetext {
	font-family:"Trebuchet MS";
	font-size:11px;
	color:#EE8907;
	font-weight:bold;
	text-decoration:none;
}

#bottom {
	clear:both;
	height:32px;
	padding-top:25px;
}

#email {
	float:left;
	width:500px;
	/*background-color:#9BBE00;*/
	background-color:#1f324e;
	height:27px;
	padding-top:5px;
}

#email a{
	font-family:"Trebuchet MS";
	font-size:11px;
	color:#fff;
	font-weight:normal;
	text-decoration:underline;
	padding:0px 40px;
}

#email a:hover{
	font-family:"Trebuchet MS";
	font-size:11px;
	color:#fff;
	font-weight:normal;
	text-decoration:none;
	padding:0px 40px;
	
}

.normaltext{
	font-family:"Trebuchet MS";
	font-size:12px;
	color:#808080;
	font-weight:normal;
	text-decoration:none;
}

#validtext {
	float:left;
	width:278px;
	/*background-color:#9BBE00;*/
	background-color:#1f324e;
	height:27px;
	padding-top:5px;
}

#validtext p{
	font-family:"Trebuchet MS";
	font-size:11px;
	color:#fff;
	font-weight:normal;
	text-decoration:none;
	text-align:right;
	padding-right:35px;
}

#validtext a{
	font-family:"Trebuchet MS";
	font-size:11px;
	color:#fff;
	font-weight:normal;
	text-decoration:underline;
}

#validtext a:hover{
	font-family:"Trebuchet MS";
	font-size:11px;
	color:#fff;
	font-weight:normal;
	text-decoration:none;
}

.demo{
	font-family:"Trebuchet MS";
	font-size:10px;
	color:#808080;
	font-weight:normal;
	text-decoration:none;
}

h2{
	font-family:"Trebuchet MS";
	font-size:26px;
	color:#EE8907;
	font-weight:normal;
	text-decoration:none;
	/*padding-left:40px;*/
	padding-bottom:5px;
}

h3{
	font-family:"Trebuchet MS";
	font-size:16px;
	color:#EE8907;
	font-weight:normal;
	text-decoration:none;
	/*padding-left:40px;*/
	padding-bottom:5px;
}

.grey
{
color:grey;
}
.green
{
color:green;
}
.red
{
color:red;
}

#header p{
	font-family:"Trebuchet MS";
	font-size:12px;
	color:#808080;
	font-weight:normal;
	text-decoration:none;
}
.txt {
	font-family:"Trebuchet MS";
	font-size:12px;
	color:#808080;
	font-weight:normal;
	text-decoration:none;
}

.com {
	font-family:"Trebuchet MS";
	font-size:12px;
	color:#000000;
	font-weight:bold;
	text-decoration:none;
}
.status {
	font-family:"Trebuchet MS";
	font-size:12px;
	color:#000000;
	font-weight:normal;
	font-style:italic; 
}
.feedback
{
	margin-top:10px;
	padding-left:10px;
	color:red;
	border:1px solid red;
}
.log
{
	border:1px solid grey;
	padding:10px;
	font-family:"Trebuchet MS";
	font-size:12px;
	color:#808080;
	font-weight:normal;
	text-decoration:none;

}

.ads
{
	margin-left:70px;
	margin-right:70px;
	padding-top:15px;
	border-top:1px solid #BCBDBC;

}

.meta
{
	border:1px solid grey;
	padding:10px;
	font-family:"Trebuchet MS";
	font-size:12px;
	color:#000000;
	font-weight:normal;
	text-decoration:none;

}

.trans
{
	border:1px solid grey;
	padding:10px;
	font-family:"Trebuchet MS";
	font-size:12px;
	color:#000000;
	font-weight:normal;
	text-decoration:none;

}

.header
{
font-family:"Trebuchet MS";
font-size:12px;
color:#ffffff;
background-color:#3B4F6A;
font-weight:bold;
background-image:url('../images/expand.gif');
background-repeat:no-repeat;
background-position:right;
}

#src
{
background-color:#FFD7A4;
}

#tgt
{
background-color:#FFFFDF;
}

.bold
{
border:none;
color:#418F11;
font-weight:bold;
}

.alt
{
border:1px solid grey;
color:#000000;
background-color:#EDFFDF;
}
#altb
{
/*border:1px solid grey;*/
}
.red
{
color:#FF1F52;
}

.lang{
	float:right;
	font-family:"Trebuchet MS";
	font-size:11px;
	color:#808080;
	font-weight:normal;
	text-decoration:none;
	padding-left:75px;
	/*text-align:right;*/
}

pre {
white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* Internet Explorer 5.5+ */
}
